<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<link
    rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}">
<head>
    <meta charset="UTF-8">
    <title>Liste des articles</title>
</head>
<body>
<div class="container">
        <div class="p-3 mb-2 bg-primary text-white"> Liste des articles</div>
        <div>
            <form th:action="@{/index}" method="get"><label>keyword</label> <input type="text" name="keyword"
                                                                                   th:value="${keyword}">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Prix</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${listArticles}">
                    <td th:text="${a.id}"></td>
                    <td th:text="${a.description}"></td>
                    <td th:text="${a.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul class="nav nav-pills">
<!--            <li th:each="page : ${page}" th:class="${currentPage == page} ? 'active' : ''"><a class="nav-link"-->
<!--                                                                                              th:href="@{/index(page=${page}, keyword=${keyword})}"-->
<!--                                                                                              th:text="${page + 1}"></a>-->
<!--            </li>-->


        </ul>

</div>
</body>
</html>